@use "variables" as v;

.first {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

// | left part

.first__left-part {
  display: flex;
  flex-flow: column nowrap;
  gap: 14px;
  align-items: flex-start;

  padding: 20px;
}

.first__h2 {
  font-family: v.$main-font-semibold;
  font-size: 1rem;

  padding: 4px 20px;

  background-color: v.$dark-mode-bgc-third-color;
  border-radius: 12px;

  color: v.$dark-mode-text-secondary-color;
}

.first__h3-wrapper {
  position: relative;
}

.first__h3-bg-design-top {
  box-sizing: content-box;

  display: none;

  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);

  height: 100%;
  width: 1216px;

  background-color: v.$dark-mode-bgc-primary-color;

  z-index: -999;

  padding: 20px 60px;

  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}

.first__h3-bg-design-bottom {
  box-sizing: content-box;

  display: none;

  position: absolute;
  top: 284px;
  right: -186%;

  height: 100%;
  width: 738px;

  background-color: v.$dark-mode-bgc-primary-color;

  z-index: -999;

  padding: 20px 60px;

  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.first__h3 {
  font-family: v.$main-font-bold;
  font-size: 3rem;

  color: white;
}

.first__left-part__para {
  font-family: v.$main-font-medium;
  font-size: 2rem;

  color: white;
}

// first left part btn

.first__btns-wrapper {
  display: flex;
  gap: 10px;
}

.first__btn {
  font-family: v.$main-font-semibold;
  font-size: 1.6rem;

  color: white;

  border-radius: 12px;

  width: 150px;

  padding: 10px 0px;
}

.first__btn:nth-child(1) {
  background-color: v.$dark-mode-bgc-primary-color;
  border: 1px solid v.$dark-mode-bgc-secondary-color;
  transition: background 0.5s, border 0.5s;
}

.first__btn:nth-child(1):hover {
  background-color: v.$dark-mode-bgc-secondary-color;
  border: 1px solid v.$dark-mode-bgc-primary-color;
}

.first__btn:nth-child(2) {
  background-color: transparent;
  border: 1px solid v.$dark-mode-bgc-primary-color;
  transition: background 0.5s, border 0.5s;
}

.first__btn:nth-child(2):hover {
  background-color: v.$dark-mode-bgc-primary-color;
}

// | right part

.first__right-part {
  overflow: hidden;
  padding-bottom: 30px;
}

.first__boxes-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  gap: 30px;

  padding: 0px 20px;
  padding-bottom: 40px;
}

.first__box {
  box-shadow: v.$dark-mode-shadow;

  padding: 40px 20px;

  display: flex;
  flex-flow: column nowrap;
  gap: 16px;

  align-items: flex-start;

  width: 70%;

  border-radius: 8px;

  background: v.$dark-mode-bgc-gradient;
}

.first__box:nth-child(even) {
  align-self: flex-end;
}

.first__box__img-wrapper {
  position: relative;
  top: 0;

  background-color: v.$dark-mode-bgc-third-color;

  width: 90px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;

  margin-bottom: 20px;
}

.first__box__h3 {
  font-family: v.$main-font-semibold;
  font-size: 2rem;

  color: white;
}

.first__box__para {
  color: v.$dark-mode-text-primary-color;

  font-family: v.$main-font-medium;

  font-size: 1.4rem;

  width: 90%;
}

@media screen and (min-width: 700px) {
  .first__left-part__para {
    width: 60%;
  }

  .first__boxes-wrapper {
    flex-flow: row wrap;
    justify-content: center;
  }

  .first__box {
    flex: 1 1 40%;
  }
}

@media screen and (min-width: 1024px) {
  .first {
    max-width: 90%;
    margin: auto;
  }

  .first__left-part {
    margin: 40px 0px;
    gap: 30px;
  }

  .first__h2 {
    margin-bottom: -20px;
  }

  .first__h3-wrapper {
    width: 100%;
  }

  .first__h3 {
    width: 420px;
    line-height: 3.2rem;
  }

  .first__left-part__para {
    width: 420px;
  }

  .first__box:nth-child(odd),
  .first__box:nth-child(even) {
    flex: 1 1 30%;
    align-self: unset;
  }
}

@media screen and(min-width: 1440px) {
  .first {
    flex-flow: row nowrap;
    max-width: 1366px;
  }

  .first__h2 {
    margin-bottom: -20px;
  }

  // | First left part

  .first__left-part {
    flex: 1 0 40%;
    gap: 50px;
    padding-left: 80px;
  }

  .first__left-part__para {
    margin-top: 20px;
    width: 100%;
  }

  .first__h3-bg-design-top,
  .first__h3-bg-design-bottom {
    display: block;
  }

  .first__btns-wrapper {
    width: 100%;
  }

  .first__btn {
    flex: 0 0 40%;
  }

  // | First right part

  .first__right-part {
    padding-right: 80px;
  }

  .first__boxes-wrapper {
    padding: 0;
    gap: 20px;
  }

  .first__box {
    height: 284px;
    width: 255px;
    padding: 20px 10px;
  }

  .first__box__h3 {
    font-size: 20px;
  }

  .first__box__para {
    font-size: 14px;
  }
}
