@use "variables" as v;

footer {
  background: linear-gradient(to bottom,#212429,#1A1C20);
  padding: 30px 20px;
}

.footer__top-part {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}

.footer__left-part {
  display: flex;
  flex-flow: column nowrap;
  gap: 14px;
}

.footer__logo {
  color: #FAFAFA;
  font-family: v.$main-font-medium;
  font-size: 2rem;
}

.footer__left-part__para {
  color: v.$dark-mode-text-primary-color;
  font-family: v.$main-font-medium;
  font-size: 1.4rem;
  line-height: 1.8rem;
  max-width: 300px;
}

.footer__social-media-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.footer__right-part {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}

.footer__right-part__ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}

.footer__right-part__ul-title {
  margin-bottom: 6px;
  font-family: v.$main-font-semibold;
  color: #FAFAFA;
  font-size: 1.8rem;
}

.footer__right-part__link {
  color: v.$dark-mode-text-primary-color;
  font-family: v.$main-font-medium;
  font-size: 1.4rem;
}

.footer__bottom-part {
  margin-top: 40px;
  color: #77838F;
  font-family: v.$main-font-medium;
  font-size: 1.2rem;
}


@media screen and (min-width: 768px) {
  .footer__right-part {
    flex-flow: row nowrap;
    gap: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__top-part, .footer__bottom-part {
    max-width: 90%;
    margin: 40px auto;
    flex-flow: row nowrap;
  }

  .footer__top-part {
    justify-content: space-between;
  }

  .footer__right-part {
    gap: 30px;
  }

  .footer__right-part__ul {
    gap: 10px;
  }

  .footer__left-part {
    flex: 0 0 30%;
  }
}

@media screen and (min-width: 1440px) {

  .footer__top-part, .footer__bottom-part {
    max-width: 1366px;
    margin: 40px auto;
    flex-flow: row nowrap;
  }


  .footer__left-part {
    gap: 30px;
  }

  .footer__right-part {
    gap: 80px;
  }

  .footer__right-part__ul {
    gap: 20px;
  }
}